.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: 29rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: 29rem; /* Default for large screens */
  --slide-spacing: 1rem;
  --slide-size: 100%;
}

@media (max-width: 1024px) {
  .embla {
    --slide-height: 29rem; /* Medium screens */
  }
}

@media (max-width: 768px) {
  .embla {
    --slide-height: 22rem; /* Small screens */
  }
}

@media (max-width: 480px) {
  .embla {
    --slide-height: 18rem; /* Extra small screens */
  }
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
.embla__slide__img {
  border-radius: 2px;
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

@media (min-width: 2000px) {
  .home-landing-image {
    width: 50% !important;
  }
}

.nav-gradient {
  background: linear-gradient(
    180.93deg,
    #015a78 -34.4%,
    rgba(1, 91, 120, 0) 49.75%
  );
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

select:has(option[value='']:checked) {
  color: #a6a6a6;
}
